<html>
<head>
      <title>Chess</title>
      <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

      <div class="create_new_game">
            <input type="submit" value="Новая игра" class="new_game_button">
      </div>
      <div style="font-size:30px;" class="white_player"></div>
      <table border="0" cellspacing="0">
            {% for i in range(8) %}
                  <tr>
                        <td>{{8-i}}</td>
                        {% for j in range(8) %}
                              {% if board.is_empty(j, 7-i) %}
                                    {% set piece = none %}
                              {% else %}
                                    {% set piece = board.get_piece(j, 7-i) %}
                              {% endif %}
                              {% with piece=piece, color_square=board.get_square_color(j, 7-i), x=j, y=7-i %}
                                    {% include "template_square.html" %}
                              {% endwith %}
                        {% endfor %}
                  </tr>

            {% endfor %}
            {% for k in range(0, 9) %}
                  <td align="center">{{" abcdefghijk"[k]}}</td>
            {% endfor %}
      </table>

      <div class="game-info">
            <div class="whose-turn"></div>
            <div class="is-check"></div>
            <div class="is-mate"></div>
            <p>
                  <form>
                        <div class="input_name">white player <input name="white_name"><input name="white_surname"></div>
                        <div class="input_name">black player <input name="black_name"><input name="black_surname"></div>
                        <input type="submit" value="Отправить" class="send_names_button">
                  </form>
            </p>
      </div>

      <div style="font-size:30px;" class="black_player" ></div>

      <script src="/static/js/jquery-1.11.3.js"></script>
      <script src="/static/js/scripts.js"></script>
</body>
</html>