img {
    border: 1px solid white;
}

td {
    padding: 0px;
}

img.selected {
    border-color: green;
}

table {
    display: inline-block;
}

.game-info {
    display: inline-block;
    vertical-align: top;
}
